* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

body {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body.theme-light {
  background: lightgrey;
}

body.theme-dark {
  background: #1a1a1a;
  color: white;
}

body.theme-dark .Book {
  background: black;
}

body.theme-sepia {
  background: peru;
}

body.theme-sepia .Book {
  background: #f7ece1;
}

body.text-size-small h1 {
  font-size: 20px;
}

body.text-size-small P {
  font-size: 16px;
  line-height: 30px;
}

body.text-size-normal h1 {
  font-size: 24px;
}

body.text-size-normal P {
  font-size: 20px;
  line-height: 40px;
}

body.text-size-big h1 {
  font-size: 28px;
}

body.text-size-big P {
  font-size: 24px;
  line-height: 50px;
}

.Book {
  margin: auto;
  padding: 20px;
  background: white;
  font-family: "Roboto";
}

.Book.width-narrow {
  width: 400px;
}

.Book.width-normal {
  width: 480px;
}

.Book.width-wide {
  width: 640px;
}

@media (max-width: 768px) {
  .Book {
    width: 100%;
  }
}

.Book .controllers {
  font-size: 20px;
}

.Book .chapter {
  border-bottom: 3px solid orangered;
}

.Book .chapter:first-child h1 {
  margin-top: 0;
}

.Book h1 {
  text-align: center;
  color: orangered;
  text-shadow: 1px 2px 2px #333;
  margin: 20px 0;
}

.Book p {
  text-indent: 25px;
  margin: 5px 0;
}

.Book img {
  width: 100%;
}
