@import "reset";
@import "responsive";

body {
  &.theme-light {
    background: lightgrey;
  }
  &.theme-dark {
    background: lighten(black, 10%);
    color: white;
    .Book {
      background: black;
    }
  }
  &.theme-sepia {
    background: peru;
    .Book {
      background: lighten(peru, 40%);
    }
  }
  &.text-size-small {
    h1 {
      font-size: 20px;
    }
    P {
      font-size: 16px;
      line-height: 30px;
    }
  }
  &.text-size-normal {
    h1 {
      font-size: 24px;
    }
    P {
      font-size: 20px;
      line-height: 40px;
    }
  }
  &.text-size-big {
    h1 {
      font-size: 28px;
    }
    P {
      font-size: 24px;
      line-height: 50px;
    }
  }
  transition: 0.5s;
}

.Book {
  margin: auto;
  padding: 20px;
  background: white;
  font-family: "Roboto";
  &.width-narrow {
    width: 400px;
  }
  &.width-normal {
    width: 480px;
  }
  &.width-wide {
    width: 640px;
  }

  @include responsive(768px) {
    width: 100% !important;
    .controllers {
      #page-width {
        display: none;
      }
    }
  }

  .controllers {
    font-size: 20px;
    margin-bottom: 20px;
    select {
      border: 1px solid black;
      border-radius: 4px;
    }
  }

  .chapter {
    border-bottom: 3px solid orangered;
    &:first-child {
      h1 {
        margin-top: 0;
      }
    }
  }
  h1 {
    text-align: center;
    color: orangered;
    text-shadow: 1px 2px 2px #333;
    margin: 20px 0;
  }
  p {
    text-indent: 25px;
    margin: 5px 0;
  }
  img {
    width: 100%;
  }
}
