@import "reset";
@import "responsive";

body {
  background: lightgrey;
}

.Book {
  width: 480px;
  margin: auto;
  padding: 20px;
  background: white;
  font-family: "Roboto";
  font-size: 20px;
  .chapter {
    border-bottom: 3px solid orangered;
    &:first-child {
      h1 {
        margin-top: 0;
      }
    }
  }
  h1 {
    font-size: 24px;
    text-align: center;
    color: orangered;
    text-shadow: 1px 2px 2px #333;
    margin: 20px 0;
  }
  p {
    text-indent: 25px;
    margin: 5px 0;
    line-height: 40px;
  }
  img {
    width: 100%;
  }
}
